.container {
  max-width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow: var(--shadow-dark);

  min-height: 80rem;
}

.header {
  font-size: 1.4rem;
  height: 7rem;
  background-color: #ffffff;
  border-bottom: var(--color-grey-light-2);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content {
  display: flex;
}

.sidebar {
  background-color: var(--color-grey-dark-1);
  flex: 0 1 18%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  //   align-items: center;
}

main {
  // background-color: orangered;
  flex: 1;
  height: 80rem;
}

.detail {
  display: flex;
  padding: 4.5rem;
  background-color: var(--color-grey-light-2);
  border-bottom: var(--line);
}

.description {
  background-color: #fff;
  flex: 0 0 60%;
  margin-right: 4.5rem;
  box-shadow: var(--shadow-light);
  padding: 3rem;
}

.user-reviews {
  background-color: bisque;
  flex: 1;
}
